html, body, h1{
     font-family:cursive;
 }
 
 .content h1 {
     text-align: right;
     width: 100%;
     color: rgb(4, 78, 78);
     font-size:40px;
 }
 
 p {
     text-align: right;
     width: 100%;
     color: rgb(10, 138, 197);
     font-size: 30px;

 }
 
 .nav_links {
     overflow: hidden;
     position: fixed;
     top: 4px;
     left: 0px;    
 }
 
 .nav_links li {
     display: inline-block;
     padding: 0px 4px;
     font-size: 24px;
 }
 
 #bar li a {
     display: block;
     text-transform: bold;
     padding: 3px;
     color: rgb(20, 129, 129);
     text-decoration: indigo;
 }
 
 .nav_links li:hover {
     background-color: rgb(156, 151, 151);   
 }

 img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
     border: 15px solid rgb(199, 66, 5);
   }
 
 