html, body, h1, h2, h3, p{
     font-family: sans-serif;
 }

 body {margin:0;}
 
 h1 {
     text-align: right;
     width: 100%;
     color: rgb(4, 78, 78);
     font-size:30px;
 }

 h2 {
    width: 100%;
    color: rgb(4, 78, 78);
    font-size:25px;
}
 h3 {
    width: 100%;
    color: rgb(4, 78, 78);
    font-size:17px;
}
h1 {
  text-align: center;
  width: 100%;
  color: rgb(4, 78, 78);
  font-size:17px;
}
 
.navbar {
    overflow: hidden;
    background-color: rgb(4, 78, 78);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: gray;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
  
  .my_class_name {
    margin: 0 auto;
    border: 20px solid  rgb(4, 78, 78);
  }