
#cover {
     background-image: url(https://unsplash.com/photos/lWAOc0UuJ-A);
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;   
 } 
 
 h1 {
     text-align: center;
 }
 
 p {
     text-align: center;
 }
 #cover h1 {
     font-size: 50px;
     color: rgb(19, 27, 139);
 }
 
 #cover p {
     color: rgb(26, 29, 26);
     font-size: 25px;
 }
 .nav_links {
     overflow: hidden;
     position: fixed;
     top: 4px;
     left: 0px;    
 }
 
 .nav_links li {
     display: inline-block;
     padding: 0px 4px;
     font-size: 24px;
 }
 
 #bar li a {
     display: block;
     text-transform: capitalize;
     padding: 3px;
     color: rgb(20, 129, 129);
     text-decoration: none;
 }
 
 .nav_links li:hover {
     background-color: gray;   
 }
 
 #copyright {
     position: fixed;
     bottom: 10px;
     left: 45%;
     color: lightgray;
 }
 
 h1 {
     color: rgb(4, 78, 78);
     text-align: center;
 }
 
 #move {
     position: relative;
     animation: mymove 5s infinite;
     color: rgb(29, 27, 27);
     font-size: 25px;
 }
 
 @keyframes mymove {
     from {left: -50px;}
     to {left: 50px;}
 }